@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Overpass:wght@100;300;400;600;700;800;900&display=swap');
$white: #fff;
$akbPink: #ef92b0;
$akbPinkHover: #e76798;
$nogiPurple: #7e0f85;
$nogiPurpleHover: #9f16a8;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 3% 6%;
}

// --------------------------------------------- //
.ant-layout {
  font-family: 'Overpass', sans-serif;
}

.ant-card {
  border-radius: 12px !important;
}

.ant-modal {
  font-family: 'Overpass', sans-serif;
}

.ant-typography.group-name {
  color: rgba(0, 0, 0, 0.85);
  font-size: 25px;
}

.ant-typography.group-name:hover {
  color: rgba(14, 14, 14, 0.85);
  font-size: 25px;
}

.ant-btn.btn-pink {
  font-weight: 700;
  background-color: $akbPink;
  border-color: $akbPink;
  color: $white;
}

.ant-btn.btn-pink:hover, .ant-btn.btn-pink:focus, .ant-btn.btn-pink:active {
  font-weight: 700;
  background-color: $akbPinkHover;
  border-color: $akbPinkHover;
  color: $white;
}

.ant-btn.btn-purple {
  font-weight: 700;
  background-color: $nogiPurple;
  border-color: $nogiPurple;
  color: $white;
}

.ant-btn.btn-purple:hover, .ant-btn.btn-purple:focus, .ant-btn.btn-purple:active {
  font-weight: 700;
  background-color: $nogiPurpleHover;
  border-color: $nogiPurpleHover;
  color: $white;
}

.divider-pink {
  margin: 0px !important;
  margin: 8px 0px !important;
  border-top: 1px solid $akbPink !important;
}

.divider-purple {
  margin: 0px !important;
  margin: 8px 0px !important;
  border-top: 1px solid $nogiPurple !important;
}

.modal-value {
  font-size: 16px;
}

.ant-input-affix-wrapper.custom-input {
  border-radius: 50px;
  padding: 10px 20px;
  .ant-input {
    font-size: 16px;
  }
}

.ant-divider.ant-divider-horizontal.custom-divider {
  margin: 10px;
}

// ------- //

.group-logo {
  width: 6rem;
}

.group-detail-logo-bg {
  background-color: white;
  padding: 12px;
  border-radius: 10px;
}

.group-detail-logo {
  width: 100px;
}

.member-detail-pict-bg {
  background-color: white;
  padding: 12px;
  border-radius: 10px;
}

.member-detail-pict {
  width: 100%;
}

// time counter - start

h1.title-counter {
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}

.countdown-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.countdown-item {
	color: #111;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    line-height: 30px;
	margin: 10px;
    padding-top: 10px;
	position: relative;
	width: 100px;
	height: 100px;
}

.countdown-item span {
	color: #333;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.countdown-svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}
// time counter - end